<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">

{%- liquid
  assign seo_site_name = settings.seo_site_name | default: shop.name
  assign og_title = page_title | default: seo_site_name
  assign og_url = canonical_url | default: request.origin
  assign og_type = 'website'
  assign og_description = page_description | default: settings.seo_default_description | default: shop.description | default: seo_site_name

  if request.page_type == 'product'
    assign og_type = 'product'
  elsif request.page_type == 'article'
    assign og_type = 'article'
  elsif request.page_type == 'password'
    assign og_url = request.origin
  endif
%}

<meta
  property="og:site_name"
  content="{{ shop.name }}"
>
<meta
  property="og:url"
  content="{{ og_url }}"
>
<meta
  property="og:title"
  content="{{ og_title | escape }}"
>
<meta
  property="og:type"
  content="{{ og_type }}"
>
<meta
  property="og:description"
  content="{{ og_description | escape }}"
>

{%- liquid
  assign share_image = page_image | default: settings.share_image
-%}

{%- if share_image -%}
  <meta
    property="og:image"
    content="http:{{ share_image | image_url: width: 1200 }}"
  >
  <meta
    property="og:image:secure_url"
    content="https:{{ share_image | image_url: width: 1200 }}"
  >
  <meta
    property="og:image:width"
    content="{{ share_image.width }}"
  >
  <meta
    property="og:image:height"
    content="{{ share_image.height }}"
  >
  <meta
    property="og:image:alt"
    content="{{ share_image.alt | escape }}"
  >
{%- endif -%}

{%- if request.page_type == 'product' -%}
  <script type="application/ld+json">
    {{ product | structured_data }}
  </script>

  <meta
    property="og:price:amount"
    content="{{ product.price | money_without_currency | strip_html }}"
  >
  <meta
    property="og:price:currency"
    content="{{ cart.currency.iso_code }}"
  >
{%- endif -%}

<meta
  name="twitter:card"
  content="summary_large_image"
>
<meta
  name="twitter:title"
  content="{{ og_title | escape }}"
>
<meta
  name="twitter:description"
  content="{{ og_description | escape }}"
>
{%- if share_image -%}
  <meta
    name="twitter:image"
    content="https:{{ share_image | image_url: width: 1200 }}"
  >
  <meta
    name="twitter:image:alt"
    content="{{ share_image.alt | escape }}"
  >
{%- endif -%}
{%- if settings.twitter_handle != blank -%}
  <meta
    name="twitter:site"
    content="{{ settings.twitter_handle }}"
  >
{%- endif -%}

<title>
  {{ page_title }}
  {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
  {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
  {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
</title>

<link
  rel="canonical"
  href="{{ canonical_url }}"
>

{% if page_description %}
  <meta
    name="description"
    content="{{ page_description | escape }}"
  >
{% endif %}
