<footer id="footer" class="px-4 py-10 md:px-10 md:py-8">
  <div class="flex justify-between items-end md:items-center h-fit">
    <!-- Footer Menu on the left -->
    {% assign footer_menu = linklists.footer %}
    {% if footer_menu.links.size > 0 %}
      <nav class="flex flex-col md:flex-row sm:flex-col gap-10">
        {% for link in footer_menu.links %}
          <a href="{{ link.url }}" class="text-sm text-black hover:underline transition-all duration-200 uppercase">
            {{ link.title }}
          </a>
        {% endfor %}
      </nav>
    {% endif %}

    <!-- Brand logo on the right -->
    <div class="flex-shrink-0">
      <a href="{{ routes.root_url }}" class="inline-block">
        {% if shop.brand.logo %}
          <img
            src="{{ shop.brand.logo | image_url: width: 1000 }}"
            alt="{{ shop.brand.slogan | default: shop.name }}"
            class="h-16 w-16 object-contain"
            width="1000"
            height="1000"
            loading="eager"
          >
        {% elsif shop.brand.square_logo %}
          <img
            src="{{ shop.brand.square_logo | image_url: width: 1000 }}"
            alt="{{ shop.brand.slogan | default: shop.name }}"
            class="h-16 w-16 object-contain"
            width="1000"
            height="1000"
            loading="eager"
          >
        {% else %}
          <div class="h-16 w-16">
            {{ 'logo.svg' | inline_asset_content }}
          </div>
        {% endif %}
      </a>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:labels.show_payment_icons",
      "default": true
    }
  ]
}
{% endschema %}
