{% liquid
  assign section_id = section.settings.custom_id | default: section.id
  assign section_class = 'section-order-shipping'
%}

<section id="{{ section_id }}" class="{{ section_class }}">
  <div class="flex flex-col-reverse 2xl:justify-center 2xl:items-center md:flex-row border-y border-black">
    {% comment %} Left side - Image {% endcomment %}
    <div class="w-full md:w-1/2 overflow-hidden border-t md:border-t-0 md:border-r border-black object-center object-cover">
      <div class="h-full w-auto aspect-square overflow-hidden object-center">
        {% if section.settings.image != blank %}
          <img
            src="{{ section.settings.image | image_url: width: 2000 }}"
            srcset="
              {{ section.settings.image | image_url: width: 600 }} 600w,
              {{ section.settings.image | image_url: width: 1200 }} 1200w,
              {{ section.settings.image | image_url: width: 2000 }} 2000w
            "
            alt="{{ section.settings.image.alt | escape }}"
            loading="eager"
            width="100%"
            height="100%"
            class="w-full h-full object-center"
          >
        {% endif %}
      </div>
    </div>

    {% comment %} Right side - Content {% endcomment %}
    <div class="w-full md:w-1/2 flex flex-col justify-center px-4 sm:px-4 md:px-9 lg:px-20 xl:px-30 2xl:px-[140px] py-10 sm:py-14 md:py-10 lg:py-20 xl:py-30 2xl:py-[100px] xl:h-[720px] 2xl:h-[800px] 3xl:h-auto">
      <div class="space-y-10">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'content_block' %}
              <div class="last:mb-0" {{ block.shopify_attributes }}>
                {% if block.settings.heading %}
                  <h2 class="text-sm lg:text-base font-medium mb-4 uppercase font-mono">
                    {{ block.settings.heading }}
                  </h2>
                {% endif %}

                {% if block.settings.content %}
                  <div class="text-sm lg:text-base text-subtitle font-sans [&>p]:mb-4 [&>p:last-child]:mb-0 [&>p]:leading-relaxed">
                    {{ block.settings.content }}
                  </div>
                {% endif %}
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.order_shipping.name",
  "tag": "section",
  "class": "section-order-shipping",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.order_shipping.settings.image.label",
      "info": "t:sections.order_shipping.settings.image.info"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "t:sections.order_shipping.settings.custom_id.label",
      "info": "t:sections.order_shipping.settings.custom_id.info"
    }
  ],
  "blocks": [
    {
      "type": "content_block",
      "name": "t:sections.order_shipping.blocks.content_block.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.order_shipping.blocks.content_block.settings.heading.label",
          "info": "t:sections.order_shipping.blocks.content_block.settings.heading.info"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.order_shipping.blocks.content_block.settings.content.label",
          "info": "t:sections.order_shipping.blocks.content_block.settings.content.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.order_shipping.presets.order_shipping.name",
      "blocks": [
        {
          "type": "content_block",
          "settings": {
            "content": "<p>Gilda products are designed to last. If you have any questions about the product or fit, you can send an email to info@gildaclothing.com.</p><p>US – We offer free shipping on all orders within the US. Orders ship with [X].</p><p>International – Orders are shipped with [X] and cost $[X].</p><p>Orders will be processed Monday through Friday, excluding holidays. Orders will be shipped within 48 hours of being received. You will receive confirmation by email when goods are shipped.</p>"
          }
        },
        {
          "type": "content_block",
          "settings": {
            "heading": "Returns",
            "content": "<p>As a small, independent label, Gilda does not currently accept returns or refunds. Please review your order carefully before completing your purchase.</p><p>If you live in the NY area, you can try on the product at C'H'C'M on Bond St.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
